* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #334e64;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(20deg, #2c6975, #cde0c9);
}